@charset "CP850";
/* line 21, ../scss/_sprite.scss */
[class^="icone-"] {
  background: url('../image/icone-sfbb5b092c3.png');
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min—moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 21, ../scss/_sprite.scss */
  [class^="icone-"] {
    background: url('../image/icone-2x-s4fb2cd8528.png');
    -moz-background-size: 32px 194px;
    -o-background-size: 32px 194px;
    -webkit-background-size: 32px 194px;
    background-size: 32px 194px;
  }
}

/* line 33, ../scss/_sprite.scss */
.icone-chrono-vert {
  background-position: 0 0;
  height: 22px;
  width: 15px;
}

/* line 33, ../scss/_sprite.scss */
.icone-chrono {
  background-position: 0 -27px;
  height: 22px;
  width: 15px;
}

/* line 33, ../scss/_sprite.scss */
.icone-droite {
  background-position: 0 -54px;
  height: 22px;
  width: 15px;
}

/* line 33, ../scss/_sprite.scss */
.icone-gauche {
  background-position: 0 -81px;
  height: 22px;
  width: 15px;
}

/* line 33, ../scss/_sprite.scss */
.icone-loading {
  background-position: 0 -108px;
  height: 32px;
  width: 32px;
}

/* line 33, ../scss/_sprite.scss */
.icone-position {
  background-position: 0 -145px;
  height: 22px;
  width: 15px;
}

/* line 33, ../scss/_sprite.scss */
.icone-tram {
  background-position: 0 -172px;
  height: 22px;
  width: 15px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min—moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 41, ../scss/_sprite.scss */
  .icone-chrono-vert {
    background-position: 0 0;
  }

  /* line 41, ../scss/_sprite.scss */
  .icone-chrono {
    background-position: 0 -27px;
  }

  /* line 41, ../scss/_sprite.scss */
  .icone-droite {
    background-position: 0 -54px;
  }

  /* line 41, ../scss/_sprite.scss */
  .icone-gauche {
    background-position: 0 -81px;
  }

  /* line 41, ../scss/_sprite.scss */
  .icone-loading {
    background-position: 0 -108px;
  }

  /* line 41, ../scss/_sprite.scss */
  .icone-position {
    background-position: 0 -145px;
  }

  /* line 41, ../scss/_sprite.scss */
  .icone-tram {
    background-position: 0 -172px;
  }
}
@font-face {
  font-family: "proxima";
  src: url('../fonts/ProximaNovaRegular.ttf?1421830334') format('truetype'), url('../fonts/ProximaNovaRegular.eot?1421830334') format('embedded-opentype'), url('../fonts/ProximaNovaRegular.woff?1421830334') format('woff'), url('../fonts/ProximaNovaRegular.svg?1421830334') format('svg');
}
/* line 6, ../scss/_fonts.scss */
.proxima {
  font-family: "proxima", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

@font-face {
  font-family: "proxima-bold";
  src: url('../fonts/ProximaNovaBold.ttf?1421830470') format('truetype'), url('../fonts/ProximaNovaBold.eot?1421830470') format('embedded-opentype'), url('../fonts/ProximaNovaBold.woff?1421830470') format('woff'), url('../fonts/ProximaNovaBold.svg?1421830470') format('svg');
}
/* line 18, ../scss/_fonts.scss */
.proxima-bold {
  font-family: "proxima-bold", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

@keyframes rotating {
  /* line 3, ../scss/_rotate.scss */
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 10, ../scss/_rotate.scss */
  to {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotating {
  /* line 19, ../scss/_rotate.scss */
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 26, ../scss/_rotate.scss */
  to {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
/* line 35, ../scss/_rotate.scss */
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* line 5, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../scss/index.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../scss/index.scss */
*::selection {
  background: transparent;
}

/* line 24, ../scss/index.scss */
*::-moz-selection {
  background: transparent;
}

/* line 28, ../scss/index.scss */
.transition {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 34, ../scss/index.scss */
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

/* line 43, ../scss/index.scss */
.hr {
  border-bottom: 1px solid #ffffff;
  height: 1px;
  max-height: 1px;
  padding-top: 16px;
}

/* line 50, ../scss/index.scss */
.txtmiddle {
  vertical-align: middle;
}

/* line 54, ../scss/index.scss */
.txtcenter {
  text-align: center;
}

/* line 58, ../scss/index.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 62, ../scss/index.scss */
.col {
  display: table-cell;
}

/* line 66, ../scss/index.scss */
.bloc-container {
  width: 100%;
}
/* line 69, ../scss/index.scss */
.bloc-container .bloc {
  padding: 16px 16px;
}
/* line 72, ../scss/index.scss */
.bloc-container .bloc .ss-bloc {
  margin: auto;
  max-width: 800px;
  border: 1px solid #ffffff;
  padding: 16px 16px;
  color: #ffffff;
}
/* line 79, ../scss/index.scss */
.bloc-container .bloc .ss-bloc > span + span.txtmiddle {
  padding-left: 16px;
  line-height: 20px;
}
/* line 86, ../scss/index.scss */
.bloc-container .bloc.bloc-header img {
  max-width: 100%;
  max-height: 93px;
}
/* line 92, ../scss/index.scss */
.bloc-container .bloc.bloc-position {
  background-color: black;
}
/* line 96, ../scss/index.scss */
.bloc-container .bloc.bloc-tram {
  background-color: #ffb100;
}
/* line 100, ../scss/index.scss */
.bloc-container .bloc.bloc-refresh {
  background-color: #44df39;
}
/* line 103, ../scss/index.scss */
.bloc-container .bloc.bloc-refresh .ss-bloc {
  cursor: pointer;
}
/* line 106, ../scss/index.scss */
.bloc-container .bloc.bloc-refresh .ss-bloc:hover {
  background-color: #ffffff;
  outline: 1px solid #ffffff;
  border-color: #44df39;
  color: #44df39;
}
/* line 115, ../scss/index.scss */
.bloc-container .bloc.bloc-essey {
  background-color: #fe2015;
}
/* line 119, ../scss/index.scss */
.bloc-container .bloc.bloc-chu {
  background-color: #1e38c7;
}
/* line 123, ../scss/index.scss */
.bloc-container .bloc .passages {
  padding-top: 16px;
  line-height: 20px;
}
/* line 127, ../scss/index.scss */
.bloc-container .bloc .passages .loading {
  display: none;
}
